{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="min-h-screen bg-zinc-100 flex items-center justify-center">
        {% set form_content %}
            <form class="mt-8 space-y-6" action="{{ path('app_login') }}" method="post">
                {% include 'components/form/_error.html.twig' with {
                    c_message: error ? error.messageKey|trans(error.messageData, 'security') : null
                } %}

                <div class="rounded-md shadow-sm space-y-4">
                    {% include 'components/form/_input.html.twig' with {
                        c_id: 'username',
                        c_name: '_username',
                        c_type: 'text',
                        c_placeholder: 'Username',
                        c_required: true,
                        c_value: last_username,
                        c_additional_classes: 'rounded-t-md'
                    } %}

                    {% include 'components/form/_input.html.twig' with {
                        c_id: 'password',
                        c_name: '_password',
                        c_type: 'password',
                        c_placeholder: 'Password',
                        c_required: true,
                        c_additional_classes: 'rounded-b-md'
                    } %}
                </div>

                {% include 'components/form/_checkbox.html.twig' with {
                    c_id: '_remember_me',
                    c_name: '_remember_me',
                    c_label: 'Remember me'
                } %}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {% include 'components/form/_button.html.twig' with {
                    c_label: 'Sign in'
                } %}
            </form>
        {% endset %}

        {% include 'components/form/_container.html.twig' with {
            c_title: 'Sign in to your account',
            c_content: form_content
        } %}
    </div>
{% endblock %}