<div class="relative mt-4 task-group" data-task-id="{{ task.id }}">
    {% include 'task/_task_item.html.twig' with { 'task': task } %}
    {% if task.subTasks is not empty %}
        <div class="subtasks relative pl-10 overflow-hidden transition-all duration-700 ease-in-out" style="max-height: 0;">
            {% for subTask in task.subTasks %}
                <div class="relative">
                    <div class="absolute left-[-9px] top-0 border-l-2 border-zinc-300
                            {% if loop.last %}h-1/2{% else %}h-full{% endif %}"></div>
                    <div class="absolute left-[-9px] top-1/2 w-2 border-t-2 border-zinc-300"></div>
                    {% include 'task/_task_item.html.twig' with { 'task': subTask } %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>