<div class="checkbox mb-3">
    <input
            type="checkbox"
            id="{{ c_id }}"
            name="{{ c_name }}"
            {% if c_checked|default(false) %}checked{% endif %}
            class="rounded border-gray-300 text-blue-600 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
    >
    <label for="{{ c_id }}" class="ml-2 text-sm text-gray-600">{{ c_label }}</label>
</div>