@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200; /* ExtraLight */
    src: url('/fonts/Roboto-ExtraLight.tff') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500; /* Medium */
    src: url('/fonts/Roboto-Medium.tff') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900; /* Black */
    src: url('/fonts/Roboto-Black.tff') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans;
    }
}