@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans;
    }
}

/**
colors:

emerald-500:    #10B981;
sky-500:        #0284c7;
amber-500:      #f59e0b;
amber-600:      #d97706;
amber-700:      #b45309;

 */