{% extends 'base.html.twig' %}

{% block title %}Initial Setup{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-center justify-center">
        {% set form_content %}
            <form method="post" class="space-y-6">
                {% include 'components/form/_input.html.twig' with {
                    c_id: 'username',
                    c_name: 'username',
                    c_type: 'text',
                    c_label: 'Username',
                    c_required: true
                } %}

                {% include 'components/form/_input.html.twig' with {
                    c_id: 'password',
                    c_name: 'password',
                    c_type: 'password',
                    c_label: 'Password',
                    c_required: true
                } %}

                {% include 'components/form/_button.html.twig' with {
                    c_label: 'Create Admin Account'
                } %}
            </form>
        {% endset %}

        {% include 'components/form/_container.html.twig' with {
            c_title: 'Initial Setup',
            c_subtitle: 'Create your admin account',
            c_content: form_content
        } %}
    </div>
{% endblock %}