{% extends 'dashboard/main.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
    <div class="max-w-3xl">
        <div class="pb-12 flex justify-between items-center">
            <h1 class="pl-2 text-4xl font-bold">{{ project.name }}</h1>
            <a href="{{ path('app_project_edit', {id: project.id}) }}">
                <div class="w-4 h-4">
                    {% include 'components/icons/pen_square.svg.html.twig' with {
                        c_size: 'w-6 h-6',
                        c_color_hover: '#0284c7'
                    } %}
                </div>
            </a>
        </div>
        <div>
            <div class="px-2 border-t-2 hover:bg-gray-100 hover:shadow-inner">
                <a href="{{ path('app_task_new', {project: project.id}) }}">
                    <div class="py-2 flex items-center">
                        {% include 'components/icons/plus.svg.html.twig' %}
                        <span class="ml-2 text-zinc-400">New Task</span>
                    </div>
                </a>
            </div>
            {% if project.tasks %}
                {% for task in project.tasks %}
                    {% if task.parent is null %}
                        {% include 'task/_task_item.html.twig' with {task: task} %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}