{% extends 'dashboard/main.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
    <div class="max-w-3xl">
        <div class="pb-12">
            <h1 class="text-4xl font-bold">{{ project.name }}</h1>
        </div>
        <div><!--class="space-x-4"-->
            <div class="px-2 border-t-2 hover:bg-gray-100 hover:shadow-inner">
                <a href="{{ path('app_todo_new', {project: project.id}) }}">
                    <div class="py-2 flex items-center">
                        <img src="{{ asset('images/plus_gray.svg') }}" alt="add new task" class="w-4 h-4">
                        <span class="ml-2 text-zinc-400">New Task</span>
                    </div>
                </a>
            </div>
            {% if project.todos %}
                {% for todo in project.todos %}
                    {% if todo.parent is null %}
                        {% include 'todo/_todo_item.html.twig' with {todo: todo} %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="pt-48 flex justify-end">
            {% include 'components/buttons/_button.html.twig' with {
                c_href: path('app_project_edit', {id: project.id}),
                c_text: 'Delete Project'
            } %}
        </div>
    </div>
{% endblock %}